.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    background-color: var(--primary);
    padding: 30px 50px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    border: solid 5px var(--secondary);
}

.contact h1 {
    background-color: var(--dark);
    padding: 5px;
    border-radius: 10px;
    text-shadow: var(--primary) 0 0 10px;
    border: var(--secondary) solid 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark);
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: var(--secondary) 5px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: var(--dark);
    color: var(--like);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: var(--secondary) 5px solid;
}

button:hover {
    background-color: var(--tertiary);
    color: var(--dark)
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}