.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    justify-content: center;
    border-radius: 10px;
}

.resume h1 {
    font-size: 3rem;
    color: var(--light);
    padding: 20px;
    text-shadow: var(--dark) 0 0 10px;
    background-image: linear-gradient(to right, var(--dark), var(--primary), var(--dark));
    border-bottom: var(--secondary) 5px solid;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    top: 67px;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: var(--secondary) 5px solid;
}

.columns h2 {
    font-size: 2rem;
    color: var(--light);
    padding: 10px;
    text-shadow: var(--dark) 0 0 10px;
    background-image: linear-gradient(to right, var(--dark), var(--primary), var(--dark));
    border-bottom: var(--secondary) 5px solid;
    width: 100%;
    text-align: center;
    max-height: 50px;
    min-height: 50px;
    margin-bottom: 20px;
}

.resume section {
    flex: 1;
    margin: 10px;
    background-color: var(--light);
    border-radius: 10px;
    color: var(--dark);
    border: var(--secondary) 5px solid;
}

.resume h3 {
    padding: 10px;
    color: var(--dark);
}

.resume p {
    padding: 10px;
}

.info {
    text-align: center;
    min-height: 300px;
    width: 100%;
    min-width: 250px;
}

#summary {
    width: 100%;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: var(--secondary) 5px solid;
}

#summary h2 {
    margin-bottom: 10px;
    padding: 10px 0px;
}

#summary p {
    text-align: center;
}

.info ul {
    text-align: left;
}

.resume a {
    color: var(--dark);
    text-decoration: none;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume a:hover {
    background-color: var(--tertiary);
}
