.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    background-color: var(--primary);
    padding: 20px;
    margin: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: solid 5px var(--secondary);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}