.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    background-color: var(--primary);
    padding: 20px;
    margin: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: solid 5px var(--secondary);
}

.contact h1 {
    background-color: var(--dark);
    padding: 5px;
    border-radius: 10px;
    text-shadow: var(--primary) 0 0 10px;
    border: var(--secondary) solid 5px;
}

.contact p {
    font-size: 1.5rem;
    padding-top: 20px;
}

.contact a {
    color: var(--light);
    text-decoration: none;
    font-size: 5rem;
    padding-top: 20px;
}

.contact a:hover {
    color: var(--tertiary);
}