:root {

  --primary: #64B6AC;
  --secondary: #C0FDFB;
  --tertiary: #DAFFEF;
  --dark: #5D737E;
  --light: #FCFFFD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--dark);
}

main {
  padding-bottom: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  padding-bottom: 10px;
}

header h1 {
  color: var(--dark);
  padding: 10px;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
  text-shadow: var(--primary) 0 0 10px;
}

ul.nav {
  padding: 10px 0;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 5px;
}

nav a {
  text-decoration: none;
  color: var(--dark);
  padding: 5px 10px;
  margin-right: 5px;
  background-image: linear-gradient(270deg, var(--dark) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
  text-shadow: var(--primary) 0 0 10px;
}

.nav-item {
  margin-left: 20px;
  font-size: 1.5rem;
}

nav a:hover {
  color: var(--tertiary);
  background-size: 100% 100%;
  border-radius: 10px 10px 10px 10px;
}


footer {
  background: var(--secondary);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  color: var(--dark);
  justify-content: center;
}

footer a {
  color: var(--dark);
  text-decoration: none;
  font-size: 2rem;
  text-shadow: var(--primary) 0 0 10px;
}

footer a:hover {
  color: var(--primary);
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 10vw;
    background-color: var(--dark);
    color: var(--light)
  }

  header nav {
    justify-content: center;
  }
}

@media screen and (max-width:768px) {
   header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

